# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=
PRIVATE_KEY=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Optional
# The access token of a GitHub account with write access to the repository.
# Can be used to automatically approve the opened PRs.
PR_APPROVAL_PERSONAL_ACCESS_TOKEN=

# Local variables for serverless-offline-ssm
github.branch-updater.app-id="12345"
github.branch-updater.private-key="LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpURVNULUlOVkFMSUQKLS0tLS1FTkQgUlNBIFBSSVZBVEUgS0VZLS0tLS0K"
github.branch-updater.webhook-secret="development"
